:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f131a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.game-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  font-weight: 500;
  color: #e2e2e2;
  text-decoration: inherit;
}
a:hover {
  /* transform: scale(1.15); */
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.platform{
  text-transform:capitalize;
}

.background-container {
  position: relative;
}

.content-container {
  padding: 0 5%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/ink-background.jpg');
  background-size: cover;
  background-position: center;
  /* z-index: -1; */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(15, 19, 26));
  /* z-index: -1; */
}

.calendar-container {
  position: relative;
}

.calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}

.listViewButton {
  background-color: #272c3600;
}

.filterButton {
  margin: 0 0.3rem;
}

.listViewSpacing {
  margin-top: 3rem;
}

.gameCard {
  background-color: #030a14;
}

.gameImage {
  width: 100%; /* Fill the width of the container */
  max-width: 900px; /* Limit the width to 600px */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  padding-top: 15px;
  padding-bottom: 15px;
}

.gameDescription {
  width: 60%;
}

.cardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 50px;
  margin-bottom: 10px;
}


.gameTitle {
  font-family: "Press Start 2P";
}

.labelText {
  font-family: "Electrolize";
}

.labelName {
  color: #919191;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
